<!doctype html>
<html lang="en" ng-app="jehpApp">
<head>
  <meta charset="utf-8">
  
  <title>JEHP</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/app.js"></script>


  <script src="js/controllers.js"></script>
  <style type="text/css">
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
</style>

<style type="text/css">

</style>
</head>
<body>

<div class="row">
  <div class="tab-content tabbable tabs-left" data-ng-controller= "JobCtrl">
      <div class="span6">
        <legend>Groups</legend>
        <ul class="nav nav-pills nav-stacked">
            <li class="passed">
                <a href="/jehpDisplay.html">Collapse</a>
            </li>   
            <li data-ng-repeat="grpPass in groupGreenOnly"  id="{{grpPass.name}}" class="{{grpPass.status}}" ng-class="{active: $index == activeTab}">
                <a ng-click="switchToTab($index)" data-toggle="tab">
                    {{grpPass.name}}
                </a>
            </li>
        </ul>
      </div>
      <div class="span6">
        <div class="tab-content tabbable tabs-left fade in" data-ng-repeat="grpPass in groupGreenOnly" ng-class="{active: $index == activeTab}" >
            <legend>Jobs</legend>
            <ul class="nav nav-pills nav-stacked">
                <li data-ng-repeat="job in jobs" ng-if="job.group == $parent.grpPass.name" class="{{job.status}}">
                    <a data-toggle="tab">
                        {{job.name}}
                    </a>
                </li>
            </ul>
        </div>
      </div>
  </div>
</div>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
