<!doctype html>
<html lang="en" ng-app="jehpApp">
<head>
  <meta charset="utf-8">
  
  <title>JEHP</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/app.js"></script>


  <script src="js/controllers.js"></script>
  <style type="text/css">
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
</style>

<style type="text/css">

</style>
</head>
<body>

<div class="tabbable tabs-left" data-ng-controller= "JobCtrl">
    <div class="row narrow">
      <div class="col-sm-1">
        <legend>Groups</legend>
        <ul class="nav nav-pills nav-stacked">
            <li data-ng-repeat="grpFail in groupFailOnly"  id="{{grpFail.name}}" class="{{grpFail.status}}" ng-class="{active: $index == activeTab}">
                <a ng-click="switchToTab($index)" data-toggle="tab">
                    {{grpFail.name}}
                </a>
            </li>
            <li class="passed">
                <a href="/jehpDisplayAllJobs.html">Passed</a>
            </li>           
        </ul>
      </div>
      <div class="end"></div>
    </div>
    <div class="row narrow">
      <div class="col-sm-1">
        <div class="tab-content tabbable tabs-left">
          <div class="tab-pane fade in" data-ng-repeat="grpFail in groupFailOnly" ng-class="{active: $index == activeTab}" >
                <legend>Jobs</legend>
                  <ul class="nav nav-pills nav-stacked">
                      <li data-ng-repeat="job in jobs" ng-if="job.group == $parent.grpFail.name" class="{{job.status}}">
                          <a ng-show="tab === $parent.active: $index">
                                {{job.name}}
                              <div class="tab-pane fade in culprit" ng-class="{active: $index == activeSubTab}" ng-if="job.culprit">
                                    {{job.culprit}}
                              </div>
                          </a>
                      </li>
                  </ul>
          </div>
        </div>
      </div>  
    </div>
</div>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
